body {
  min-width: 960px;
	font-weight: normal;
	font-size: 13px; 
	line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;  
	color: #000000; 
	background-color:#ffffff;

}





@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

h1 {
  font-size: 30px;
	line-height: 36px; 
	color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;  
	text-transform: uppercase;
}

.index-content-breadcrumbs {
	text-transform: uppercase; 
}


/*html,
body {
  min-width: 1122px;
  min-height: 3151px;
  margin: 0;
  padding: 0;
}*/

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

}

.first-header {
/* margin-top: -55px;
 margin-bottom: 45px;*/
 color: #ffffff;
 background-color: #293449;
 height: 42px;
 font-size: 18px; 
 line-height: 24px;
 font-family: "Cuprum";  
}

.index-logo {
  float: left;
  width: 220px;
  height: 47px;
	margin-right: 18px;
	background-image: url("../img/index-logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;	
}

.index-logo:hover {
	background-image: url("../img/index-logo-focus.png");
  background-repeat: no-repeat;
  background-position: 0 0;	
}

.index-logo:active {
	background-image: url("../img/index-logo-click.png");
  background-repeat: no-repeat;
  background-position: 0 0;	
}

.menu-top-search {
  position: relative;
  display: inline-block;
  position: relative;
  float: left;
  width: 220px;
	margin-right: 20px;
	padding: 0 0 0 30px;
}

.menu-top-search label::before {
  content: "\1f50d";
  position: absolute;
  top: 8px;
  left: 0;
  width: 18px;
  height: 18px;
	font-family: "symbols-technomart";  
	font-size: 16px;
  color: #6a7180;
}

.menu-top-search:hover label::before {
  color: white;
}

.menu-top-search input:focus ~ label::before {
    color: red;
}

.menu-top-search input {
  height: 42px;
  margin-left: -50px;
  box-sizing: border-box;
  width: 270px;
  border: none;
  background: #293449;
  padding-left: 60px;
  padding-top: 4px; 
  color: #FFFFFF;
}

input::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
    opacity: 1;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #FFFFFF;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

.menu-top-search input:focus {
  opacity: 1;
  background: #FFFFFF;
    color: #000000;
}


.bookmarks {
  position: relative;
  float: left;
  width: 104px;
	margin-right: 20px;
	padding: 8px 0 0 26px;
  cursor: pointer;
}

.bookmarks::before {
  content: "\1f516";
  position: absolute;
  top: 6px;
  left: 0;
  width: 18px;
  height: 18px;
	font-family: "symbols-technomart";  
	font-size: 16px;
  color: #6a7180;
}

.bookmarks:hover::before {
  color: white;
}

.cart {
  position: relative;
  float: left;
  width: 90px;
	margin-right: 10px;
	padding: 8px 0 0 30px;
  cursor: pointer;
}

.cart::before {
  content: "\62";
  position: absolute;
  top: 6px;
  left: 0;
  width: 18px;
  height: 18px;
	font-family: "symbols-technomart";  
	font-size: 16px;
  color: #6a7180;
}

.cart:hover::before {
  text-decoration: none; 
  color: white;
}

.checkout {
  float: right;
  width: 150px;
  padding: 8px 15px 0 15px;
  text-align: center;
  box-sizing: border-box;
  height: 42px;
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;	
}

.checkout:active {
	background-color: #518534;	
}

.checkout a {
	color: #ffffff;
  text-decoration: none;
}

.checkout a:active  {
  color: #aac39b;
}

.promo-text {
  float: left;
  width: 300px;
  margin-top: 0;
	margin-right: 20px;
	box-sizing: border-box;
  padding: 2px 40px 0 52px;
  text-transform: none;
	font-style: italic;
	font-size: 16px; 
	line-height: 24px;  
	color: #ee3643; 
  min-height: 80px;
 
}

.contacts {
  float: left;
  width: 300px;
	margin-right: 20px;
  min-height: 80px;

}

.contacts-phone {
	display: inline-block;
  position: relative;
	box-sizing: border-box;	
	border: 3px solid white;
	padding: 8px 0 8px 71px;
	width: 270px;
	font-size: 21px; 
  font-weight: bold; 
	color: #ee3643;
  font-family: "Cuprum";
  text-decoration: none;
}

.contacts-address {
	display: block;
	padding: 4px 0 8px 10px;
	font-size: 14px;  
	color: #32425c;
  font-weight: bold;
  font-family: "Cuprum";
}

.contacts-phone::before {
  content: "\1f4de";
  position: absolute;
  top: 9px;
  left: 13px;
  width: 18px;
  height: 18px;
	font-family: "symbols-technomart";  
	font-size: 21px;
  color: #b7bfc8;
}

.user-block .butn  {
  display: inline-block;
  box-sizing: border-box;
  
  padding: 10px 22px;

  font-weight: 700;
  font-size: 0;
  line-height: 24px;
  font-family: "Cuprum";
  vertical-align: top;
  text-align: center;
  color: #000000;
  text-decoration: none;
  
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.user-block a.login-block {
  float: right;
	position: relative;
  text-align: left;
  font-size: 21px;
	padding-left: 45px;
  padding-right: 50px;
  width: 300px; 
}

.user-block a.login-block::before {
	content: "\1f468";
  position: absolute;
  top: 9px;
  left: 15px;
  width: 18px;
  height: 18px;
	font-family: "symbols-technomart";  
	font-size: 18px;
  color: #b7bfc8;
}

.user-block a.login-block:hover::before {
  color: #32425c;
}

.user-block a.login-block:hover::after  {
  color: #32425c;
}

.user-block a.login-block:active::before {
  color: #c5c5c5;
}

.user-block a.login-block:active::after  {
  color: #c5c5c5;
}

.user-block a.login-block::after {
	content: "\241b";
  position: absolute;
  top: 11px;
  left: 270px;
  width: 18px;
  height: 18px;
	font-family: "symbols-technomart";  
	font-size: 21px;
  color: #b7bfc8;
}

.user-block a.enter {
	position: relative;
  font-size: 21px;
	padding-left: 45px;
 	margin-right: 7px;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:active {
  color: #c5c5c5;
}

.user-block a.enter:hover::before {
  color: #32425c;
}

.user-block a.enter:active::before {
  color: #c5c5c5;
}

.user-block a.enter::before {
  content: "\2386";
  position: absolute;
  top: 11px;
  left: 15px;
  width: 18px;
  height: 18px;
	font-family: "symbols-technomart";  
	font-size: 21px;
  color: #b7bfc8;
}

.user-block a.registration {
  font-size: 21px;
}

.user-block {
  float: right;
  width: 300px;
}

.user-block li {
	float: left;
  display: inline-block;
  box-sizing: border-box;
  margin-left: -22px;
  margin-top: 5px;
  padding-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Cuprum"; 
  color: #32425c;
  text-decoration: underline; 
  cursor: pointer;
  position: relative;
}

.ul-block:last-child ::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #32425c;
    border-radius: 50%;
    top: 9px;
    right: 170px;
}

.user-block li:hover {
	color: #ee3643;
}

.user-block li:active {
	color: #c5cad0;
}

.second-header {
background-color: #f1f5f7;
padding: 46px 0 15px;
margin-bottom: 19px;
}

.main-navigation {
  box-sizing: border-box;

  margin-bottom: 48px;
	margin-top: 20px;
  min-height: 55px;
	
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  line-height: 21px;
  font-size: 21px;
  font-family: "Cuprum";	
  text-align: center;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 20px 32px;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #293449;
}

.main-navigation a:active {
  color: #777d88;
}

.materials {
  margin-bottom: 20px;
  float: left;
  box-sizing: border-box;
  width: 300px;
  margin-right: 20px;
  padding-left: 23px;
  min-height: 123px;  
  position: relative;
  background: #f6b22d;
  background-image: url("../img/banner-materials.png");
  background-repeat: no-repeat;
  background-position: 213px 32px;	
}

.section-banners  {
margin-top: 56px;	
}

.section-banners h3 {
  padding-top: 23px;
  color: #ffffff;
  margin: 0 0 11px 0;
  line-height: 30px;
  font-size: 24px;
  font-family: "Cuprum";	
}

.section-banners a {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px 25px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  font-family: "Cuprum";
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.section-banners a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.section-banners a:active {
  background: rgba(0, 0, 0, 0.3);
}

.section-banners .sticker-new::before {
	top: 0;
  right: 0;
}

.sticker-new::before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -25px -5px;
}

.instruments {
  margin-bottom: 20px;
  float: left;
  box-sizing: border-box;
  width: 300px;
	margin-right: 20px;
  padding-left: 23px;
	min-height: 123px;  
	position: relative;
  background: #4aafde;
	background-image: url("../img/banner-instruments.png");
  background-repeat: no-repeat;
  background-position: 198px 34px;
}

.technics {
  margin-bottom: 20px;
  float: left;
  box-sizing: border-box;
  width: 300px;
	padding-left: 23px;
	min-height: 123px;  
	position: relative;
  background: #cc79d1;
	background-image: url("../img/banner-technics.png");
  background-repeat: no-repeat;
  background-position: 190px 32px;
}

.discounts {
  margin-bottom: 20px;
  float: right;
  box-sizing: border-box;
  width: 300px;
  padding-left: 23px;
	min-height: 123px;  
	position: relative;
  background: #85d179;
	background-image: url("../img/banner-discounts.png");
  background-repeat: no-repeat;
  background-position: 195px 27px;
}

.delivery {
  float: right;
  box-sizing: border-box;
  width: 300px;
  padding-left: 23px;
	min-height: 123px;  
	position: relative;
  background: #f6b22d;
	background-image: url("../img/banner-delivery.png");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.section-header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 26px;
  min-height: 89px;
  background-color: #f7f3ec;	
  margin-bottom: 20px;
}

.section-header h2 {
  display: inline-block;
  text-transform: uppercase;	
  font-size: 30px;
  line-height: 40px;
  font-family: "Cuprum";
  color: #32425c;
}

.section-header.inner {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 27px;
  min-height: 89px;
  background-color: #f2f6f8;	
  margin-bottom: 20px;
}

.section-header.inner h1 {
  display: inline-block;
  text-transform: uppercase;	
  font-size: 30px;
  line-height: 40px;
  font-family: "Cuprum";
  color: #32425c;
}


a.btn {
  display: inline-block;
  float: right;
  margin-top: 25px;
  box-sizing: border-box;
  padding: 7px 54px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  font-family: "Cuprum";
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: #ee3643;
  border-radius: 3px;
  border: none;
}

a.btn:hover {
  background: #ca2c37;
}

a.btn:active {
  background: #ba2732;
}

.slider .btn-open  {
	position: absolute;
  padding: 7px 48px;
  z-index: 20;
  top: 180px;
  left: 25px;
}

.slider {
	float: left;
  width: 620px;

  position: relative;
  min-height: 266px;
  margin: 0 auto;
  overflow: hidden;

	margin-bottom: 52px; 
}

.slide {
  box-sizing: border-box;
	padding: 20px 25px;
  width: 620px;
  height: 266px;



  position: absolute;

  background-repeat: no-repeat;
  background-position: 100% 10px;

  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;

}

.slider h2 {
	position: absolute;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 40px;
  font-family: "Cuprum";
	margin-bottom: 0;
  margin-top: 0;
  z-index: 20;
  color: #ffffff;
}

.slider p {
	position: absolute;
  font-size: 18px;
  line-height: 22px;
  font-family: "Cuprum";
  top: 45px;
  z-index: 20;
  color: #ffffff;
}

.slider img {
	position: absolute;	
  left: 0;
	top: 0;
  z-index: 10;
}

.slider::before {
  content: "\3c";
  position: absolute;
  top: 122px;
  left: 25px;
	font-family: "symbols-technomart";  
	font-size: 45px;
  color: #ffffff;
  z-index: 40;
  cursor: pointer;
}

.slider::after {
  content: "\3e";
  position: absolute;
  top: 122px;
  left: 579px;
	font-family: "symbols-technomart";  
	font-size: 45px;
  color: #ffffff;
  z-index: 40;
  cursor: pointer;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 22px;
    left: 50%;
    z-index: 20;

    width: 200px;
    margin-left: -100px;

    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;

    vertical-align: top;

    background: #ffffff;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2) {
    left: 620px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
    left: -620px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background: #ee3643;
}

.slider .slider-arrow  {
    display: block;
    position: absolute;
    top: 122px;
    font-family: "symbols-technomart";
    font-size: 45px;
    color: #ffffff;
    z-index: 99;
    cursor: pointer;
    color: rgba(0,0,0,0);
}

.slider-prev  {
    left: 25px;    
}


.slider .slider-next {
      left: 579px;
}

#slider-prev:checked ~ .slides .slide:nth-child(1) {
    left: 0;
}

#slider-prev:checked ~ .slides .slide:nth-child(2) {
    left: 620px;
}

#slider-next:checked ~ .slides .slide:nth-child(1) {
    left: -620px;
}

#slider-next:checked ~ .slides .slide:nth-child(2) {
    left: 0;
}


.section-popular-goods .section-content {
  width: 100%;
  min-height: 320px;	
}

.section-popular-manufacturers .section-content {
  float: left; 
  width: 100%;
	margin-bottom: 65px;
  /* Только для оформления сетки */
  min-height: 310px;
 	
}

.section-popular-manufacturers img {
	margin-right: 16px;
  margin-bottom: 13px;
}

.section-popular-manufacturers img:hover {
	box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.4);
}

.section-popular-manufacturers img:active {
	box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
}

.section-popular-manufacturers img:nth-child(4n){
  margin-right: 0;
}


.section-services {
  float: left; 
  width: 100%; 
  background-color: #f2f6f8;		
}

.section-services .section-heading {
  float: left; 
  width: 100%;
  margin-top: 48px; 
	margin-bottom: 23px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: "Cuprum";
  color: #000000; 		
}

.section-company {
  float: left; 
  width: 540px;
  margin-top: 50px;
	margin-bottom: 80px;
  min-height: 400px;	
}

.section-company h2 {
	font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: "Cuprum";
  color: #000000; 
}

.section-company p {
	margin-bottom: 22px;
}

.section-company ul {
margin-top: -10px;
margin-left: -39px;
}

.section-company li {
  list-style: none;
  padding-left: 36px;
  background: url(../img/ul-line.jpg) -0 20px no-repeat;	
	font-size: 18px;
  line-height: 39px;
  font-family: "Cuprum";
  color: #000000;
}

.section-company a {
	float: left;
  margin-top: 17px;
	padding: 7px 41px;

}

.section-contacts {
  float: right; 
  width: 300px;
  min-height: 400px;
  margin-top: 50px;
}

.section-contacts h2 {
	font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: "Cuprum";
  color: #000000; 
}

.section-contacts img {
	margin-top: 40px;
}

.section-contacts a {
  margin-top: 33px;
	width: 100%
}

.pre-footer {
  margin-top: 5px;
  min-height: 190px;
  background-color: #32425c;		
}

.footer-logo {
  float: left;
	margin-bottom: 10px;
}

.footer-navigation {
  float: right;
  width: 650px;
	margin-bottom: 20px;
  font-family: "Cuprum";
}

.footer-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  float: right;
}

.footer-navigation li {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a {  
  display: block;
  padding: 38px 0 0 59px;
  color: #ffffff;
  text-decoration: none;
}

.footer-navigation a:hover {
  text-decoration: underline; 
}

.footer-navigation a:active {
  text-decoration: none;
  color: #929caa; 
}

.catalog-navigation {
  float: right;
  width: 600px;
  font-family: "Cuprum";
}

.catalog-navigation ul {  
  padding: 0;
  list-style: none;
  font-size: 0;
	float: right;
}

.catalog-navigation li {
  display: inline-block;
  font-size: 18px; 
}

.catalog-navigation a {  
  display: block;

  padding: 8px 0 0 0;
  margin-left: 59px;
  color: #ffd180;
  text-decoration: none;

}

.catalog-navigation a:hover {
  text-decoration: underline; 
}

.catalog-navigation a:active {
  text-decoration: none;
  color: #998a6e; 
}

.footer-contacts {
  float: left;
	margin-top: 10px;
	width: 330px;
  min-height: 60px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum";
  color: white;
}


.main-footer {
	/* Только для оформления сетки */
  min-height: 110px;
  background-color: #293449;	
}

.footer-copyright {
  float: left;
	width: 240px;
	margin-right: 150px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cuprum";
  color: white;
  margin-top: 38px;
}

.footer-social {
  float: left;
	width: 150px;
	margin-right: 100px;
  margin-top: 38px;
}

.social-btn {
  display: inline-block;
  width: 42px;
  height: 42px;
  font-size: 0;
  border-radius: 50%;
  vertical-align:middle;  
  text-align: center;
}

.social-btn-vk {
  background: #212a3a;
  position: relative;
}

.social-btn:hover{
  background: #ee3643;
}

.social-btn-vk::before {
  content: "\76";
  position: absolute;
	font-family: "symbols-technomart";  
	font-size: 18px;
  left: 12px;
  line-height: 42px;
  color: #ffffff;
}

.social-btn-fb {
  background: #212a3a;
  position: relative;
}

.social-btn-fb::before {
  content: "\66";
  position: absolute;
	font-family: "symbols-technomart";  
	font-size: 18px;
  left: 15px;
  line-height: 42px;
  color: #ffffff;
}

.social-btn-inst {
  background: #212a3a;
  position: relative;
}

.social-btn-inst::before {
  content: "\1f4f7";
  position: absolute;
	font-family: "symbols-technomart";  
	font-size: 18px;
  left: 12px;
  line-height: 42px;
  color: #ffffff;
}

.footer-mail {
  float: left;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cuprum";
  color: white;
  margin-top: 38px;
}

.footer-mail a {
	color: #ffd180;
  text-decoration: none;
}

.footer-mail a:hover {
  text-decoration:underline;
}

.footer-mail a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-development {
  float: right;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cuprum";
  color: white;
  margin-top: 38px;
  padding-right: 15px;
}

.footer-development a {
	color: #ffd180;
  text-decoration: none;
}

.footer-development a:hover {
  text-decoration:underline;
}

.footer-development a:active {
  text-decoration: none;
  color: #ee3643;
}

.catalog-items {
  font-size: 0;
  width: 700px;
  margin: 20px auto; /* для оформления демонстрации */
}

.catalog-item {
  font-weight: 600;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 219px;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item:hover {
	box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.4);
}

.catalog-item:nth-child(4n){
  margin-right: 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff; 
}

.actions .buy,
.actions .bookmark {
  font-family: "Cuprum";
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.actions .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.actions .buy:hover {
	background: #5fbb2d;
}

.actions .buy:active {
  box-shadow: inset 0 -3px 0 #518534;
	background: #518534;
}

.actions .bookmark:hover {
  border: 3px solid #32425c; 
}

.actions .bookmark:active {
  border: 3px solid #c1c6ce; 
  color: #c1c6ce;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item-image {
  margin: 0 auto;
  margin-top: 6px; 
  width: 184px;
  height: 130px;
  overflow: hidden;
}

.catalog-item-image img {
  max-width: 100%;
}

.catalog-item .title {
  font-size: 18px;
  line-height: 20px;
  margin-top: 42px;
  margin-bottom: 7px;
  padding: 0 25px;
  text-transform: none;
  font-family: "PT Sans";
  color: #000000;
}

.catalog-item .discount {
  min-height: 20px;
  margin-bottom: 7px;
  font-size: 17px;
  text-decoration: line-through;
  color: #999;
}

.catalog-item .price {
  position: relative;
  font-size: 17px;
  width: 80px;
  margin: 0 auto 20px;
  padding: 8px 30px;
  color: #fff;
  border-radius: 3px;
  background: #ee3643;
}

.catalog-item .price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}


.tabs {
  float:left;
  position: relative;
	margin: 0 auto;
  margin-top: 57px;
  margin-bottom: -130px;
	width: 240px; 
}

.tabs::before {
	position: absolute;
  top: -40px;
  right: -1px;
  z-index: 10;
  width: 15px;
  height: 282px;
  content: '';
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: 0 0;
} 

.tabs label {
	background: #32425c;
	cursor: pointer;
	display: block;
	width: 240px;
	height: 61px;
  box-sizing: border-box;
  padding: 16px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 25px;
  font-family: "Cuprum";
  font-weight: bold;
  color: #ffffff; 	
}

.tabs label:hover {
	background: #293449;
} 

#tab_l2 {
  box-shadow:
    inset 0 1px 0 0 #293449,
    inset 0 2px 0 0 #405069;
}

#tab_l3 {
  box-shadow:
    inset 0 1px 0 0 #293449,
    inset 0 2px 0 0 #405069;
}

.tabs input {
	position: absolute;
	left: -9999px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
	background: #fff;
  color: #32425c;
	border-color: #fff;
	top: 0;
	z-index: 3;
  margin: 0; 
  box-shadow: none;
}

.tabs_cont {
	position: relative;
  float: right;
  left: 700px;
  top: -188px;
  width: 620px;
	height: 230px;
}

.tabs_cont b {
	font-size: 36px;
  line-height: 40px;
  font-family: "Cuprum";
  color: #32425c; 
	text-transform: uppercase;
}

.tabs_cont p {
	margin-top: 22px;
  width: 280px;
}

.tabs_cont img {
  position: absolute;
	top: 27px;
  right: 0;
}

.tabs .btn-tab {
	float: left;
  margin-top: 15px;
	padding: 7px 45px;
}

.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
	position: static;
	left: 0;
	opacity: 1; 
}

/*Элементы внутренней*/

.index-content-breadcrumbs {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-left: 17px;
}

.index-content-breadcrumbs li {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  vertical-align: top;
  position: relative;
}

.index-content-breadcrumbs a.nav {
  display: block;
  padding-left: 40px;  
  color: #000000;
  text-decoration: none;
  position: relative;
}

.index-content-breadcrumbs a.home {
  position: relative;
}

.index-content-breadcrumbs a.home::before {
  content: "\3e";
  content: "\1f3e0";
  position: absolute;
  top: -2px;
  left: -17px;
  width: 5px;
  height: 5px;
  font-family: "symbols-technomart";  
  font-size: 16px;
  color: #c1c6ce;
}

.index-content-breadcrumbs a.nav::before {
  content: "\3e";
  position: absolute;
  top: -2px;
  left: 14px;
  width: 5px;
  height: 5px;
  font-family: "symbols-technomart";  
  font-size: 14px;
  color: #c1c6ce;
  cursor: default;
}


.index-content-filters {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 50px;

}

.head-filters {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 11px 0 8px 18px;
  background-color: #f7f3ec;
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 13px; 
  line-height: 18px;
  font-family: "PT Sans"; 
  border-radius: 3px;
	text-transform: uppercase;
}

.filters-form b {
	font-size: 17px; 
  line-height: 22px;
  font-family: "PT Sans"; 
  position: relative;
}

.index-content-producers b::before  {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 220px;
    height: 1px;
    background-color: #e5e5e5;
    border-radius: 1px;
}

.index-content-power b::before  {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 220px;
    height: 1px;
    background-color: #e5e5e5;
    border-radius: 1px;*/
}

.index-content-power   {
    margin-top: 24px;
}

.index-content-filters label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 18px;
    margin-left: 35px;
    margin-top: 2px;
}

.index-content-filters ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

button.btn {
  display: inline-block;
  float: left;
  margin-top: 61px;
  box-sizing: border-box;
  padding: 5px 39px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 28px;
  font-family: "PT Sans";
  text-align: center;
  color: #000000;
  text-decoration: none;
  background: white;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

button.btn:hover {
	border: 1px solid #bdc6ca;
}

button.btn:active {
	border: 1px solid #ee3744;
}

.catalog {
  float: right;
  width: 700px;
 }

.info-block {
   margin-bottom: 68px;
}

/*фильтр цены*/


.range-filter {
  width: 220px;
  margin: 0 auto; /* для демонстрации */
  margin-top: 16px;
}

.range-controls {
  position: relative;
  height: 43px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 8px;
  border-radius: 5px;
  background: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  position: relative;
  margin-bottom: 47px;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-right: 28px;
  padding: 6px 18px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f7f3ec;
}

.price-controls input:last-child  {
  margin-right: 0;
}


.price-controls::before  {
    content: '';
    position: absolute;
    top: 18px;
    left: 105px;
    width: 10px;
    height: 1px;
    background-color: #000000;
    border-radius: 1px;
}


/*разные фильтры*/



.index-content-filters input[type="radio"],
.index-content-filters input[type="checkbox"] {
  display: none;
}

.index-content-filters input[type="radio"] + label,
.index-content-filters input[type="checkbox"] + label {
  position: relative;
  font-size: 15px;
  font-family: "PT Sans", "Arial", sans-serif;, "Arial", sans-serif;
  line-height: 20px;
}

.index-content-filters input[type="checkbox"] + label::before {
  content: '\2610';
  position: absolute;
  left: -34px;

  font-family: "symbols-technomart";
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.index-content-filters input[type="radio"] + label::before {
  content: '\25cb';
  position: absolute;
  left: -34px;

  font-family: "symbols-technomart";
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.index-content-filters input[type="checkbox"]:checked + label::after {
  content: '\2611';
  position: absolute;
  left: -34px;

  font-family: "symbols-technomart";
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.index-content-filters input[type="radio"]:checked + label::after {
  content: '\25cf';
  position: absolute;
  left: -34px;

  font-family: "symbols-technomart";
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.index-content-filters li:hover label::before,
.index-content-filters li:hover input[type="radio"]:checked + label::after,
.index-content-filters li:hover input[type="checkbox"]:checked + label::after {
  color: #b5b5b5;
}


input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
  opacity: 0.4;
  cursor: default;
}

/*Сортировка*/

.sort-catalog {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 11px 0 8px 18px;
  background-color: #f7f3ec;
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 13px; 
  line-height: 18px;
  font-family: "PT Sans"; 
  border-radius: 3px;
  text-transform: uppercase;
}

.sort-catalog p {
  display: inline-block;
	padding: 0;
  margin: 0;
}

.catalog-mini-сar .catalog-item {
  margin-right: 15px;
}

.catalog-mini-сar .catalog-item:nth-child(3n){
  margin-right: 0;
}

/*Пагинация*/

.pagination {
  margin-bottom: 60px;
  margin-top: 32px;

  font-size: 0;
}

.pagination ul {
  padding-left: 0;
}


.pagination li {
  display: inline-block;
}

.pagination a {
  display: block;
  padding: 0 15px;
	margin-right: 9px;

  text-decoration: none;
  font-size: 13px;
  color: #000;
  line-height: 36px;

	font-family: "PT Sans";

	color: #000;
	text-transform: uppercase;
	background-color: #fff;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination .next-page a {
  padding: 0 30px;
}

.pagination .btn-pagination-active a,
.pagination .btn-pagination-active a:hover {
  background-color: #ee3643;
  border: 1px solid #ee3643;
  color: #fff;
}

.pagination a:hover {
  border: 1px solid #bdc6ca;
}

.pagination a:active{
  border: 1px solid #ee3643;
}


/*Сортировка*/


.ul-catalog {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-right: 107px;
}

.ul-catalog li {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  vertical-align: top;
  position: relative;
  padding-left: 66px;  
}

.ul-catalog .active-sort {
	color: #ee3643;
  border-bottom: none;
}

.ul-catalog a {
  display: block;
  color: #b2b2b2;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  position: relative;
}

.ul-catalog a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.arrow-top {
	position: relative;
  float: left;
  width: 11px;
	height: 11px;
}

.arrow-bottom	{
	position: relative;
  float: left;
  width: 11px;
	height: 11px;
}

.arrow-top::before {
  content: "\25b2";
  position: absolute;
  top: -2px;
  left: 624px;
  width: 5px;
  height: 5px;
  font-family: "symbols-technomart";  
  font-size: 23px;
  color: #ee3643;
  cursor: pointer;
}

.arrow-bottom::before {
  content: "\25bc";
  position: absolute;
  top: -2px;
  left: 644px;
  width: 5px;
  height: 5px;
  font-family: "symbols-technomart";  
  font-size: 23px;
  color: #c6c2bd;
  cursor: pointer;
}

.arrow-top:hover::before {
	color: black;
}

.arrow-bottom:hover::before {
	color: black;
}