body {
	font-size: 13px; 
	line-height: 24px;
	color: #000000;
	font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;   
}

h1 {
  font-size: 30px;
	line-height: 36px; 
	color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;  
	text-transform: uppercase;
}

.index-content-breadcrumbs {
	text-transform: uppercase; 
}